label.myLabel input[type="file"] {
    position: absolute;
    top: -1000px;
}

label.myLabel {
    cursor: pointer;
}

input[type='text'] {
    font-size: inherit;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.subcontainer {
    text-align: center;
}
